
<h1>User info</h1>

  <%= image_tag user.get_profile_image(100,100) %>
  <table class="table">
    <tr><th>name</th><td><%= user.name %></td></tr>
    <tr><th>introduction</th><td><%= user.introduction %></td></tr>
  </table>
  
  <% if !(user.name == "guestuser") %>
  <div class="btn btn-secondary btn-block sign_in">
    <%= link_to(edit_user_path(user)) do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
  <% end %>

